@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "View Role";
    Layout = "_LayoutSuperAdmin";
}

<h2>Roles</h2>
<br />
<div>
    <a asp-action="Create" class="btn btn-dark">Create Role</a>
</div>
<br />

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.Id</td>
                <td>@role.Name</td>
            </tr>
        }
    </tbody>
</table>
