@model ProductManagement.Models.ViewModel.AdminDashboardViewModel

@{
    ViewData["Title"] = "Admin Dashboard";
    Layout = "_LayoutAdmin";
}

<div style="display: flex; align-items: center; justify-content: flex-end;">
    <h2>Welcome to the Admin Dashboard</h2>

    <img src="~/image/product.svg" alt="Product Image" style="width: 450px; height: 500px;" />
</div>

<br />
