@model ProductManagement.Models.ViewModel.UserDashboardViewModel

@{
    ViewData["Title"] = "User Dashboard";
    Layout = "_LayoutUser";
}
<br />
<br />
<div class="container">
    <h2>Welcome to the User Dashboard</h2>
</div>
